<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="whatsapp_order_status_change" instance="MedizinhubCore\Whatsapp\Observer\OrderStatusChange" />
    </event>

    <event name="sales_order_place_after">
        <observer name="whatsapp_order_placed" instance="MedizinhubCore\Whatsapp\Observer\OrderPlaced" />
    </event>
    
    <event name="checkout_onepage_controller_success_action">
        <observer name="whatsapp_cod_order_placed" instance="MedizinhubCore\Whatsapp\Observer\CodOrderPlaced" />
    </event>
    
    <event name="sales_order_shipment_save_after">
        <observer name="whatsapp_shipment_created" instance="MedizinhubCore\Whatsapp\Observer\ShipmentSave" />
    </event>
</config>