<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="cron" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cron (Scheduled Tasks)</label>
                <field id="update_product_attributes_frequency" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Update Product Attributes Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                </field>
                <field id="update_product_attributes_time" translate="label" type="time" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Update Product Attributes Start Time</label>
                </field>
            </group>
        </section>
    </system>
</config>