* {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
}
.refund-header{
    text-align: center;
    color: #063851;
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: 600;
}
.refund-helptext {
    color: #000;
    font-size: 20px;
    margin: 5px 0;
}
.refund-title{
    color: #063851;
    font-family: "Source Sans Pro";
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0;
}
.refund-subtitle {
    color: #063851;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
}
.fees-title {
    margin-bottom: 12px !important;
}
.refund-description, 
.refund-description ol li,
.refund-description ul li {
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.48px;
}
.breadcrumbs ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ul li {
    margin-right: 5px;
}

.breadcrumbs ul li + li:before {
    content: ">";
    margin-right: 5px;
    color: #999; /* Optional: Set the color of the separator */
}
.page-title {
    display: none !important;
}
.breadcrumbs {
    color: #036C58;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 500;
}
.breadcrumb-name { 
    color: #6E7F87;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 400;
}
.refund-table {
    padding: 10px auto;
}

table thead tr{
    font-size: 16px;
    font-weight: 700;
}
table thead tr,
table tbody tr {
    border: 1px solid #999;
    padding: 5px 10px !important;
}
table tbody tr td {
    padding: 5px 10px !important;
}