<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<tr class="totals consultation-fee excl">
    <th style="color: #263238;font-family:Source Sans Pro; font-size: 16px;font-weight: 400;" class="mark" scope="row">
        <span class="label">Doctor Consultation Fee</span>
    </th>
    <td class="amount">
        <span style="color: #263238;font-family:Source Sans Pro; font-size: 16px;font-weight: 400;" class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->
