<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <medizinhubshipping>
                <active>1</active>
                <model>MedizinhubCore\Shipping\Model\Carrier</model>
                <title>Medizinhub Shipping</title>
                <name>Medizinhub Shipping</name>
                <default_rate>99.00</default_rate>
                <special_pincode>600044,600045</special_pincode>
                <special_pincode_rate>79.00</special_pincode_rate>
                <special_pincode_threshold>250.00</special_pincode_threshold>
                <special_pincode_above_rate>29.00</special_pincode_above_rate>
                <tn_default_rate>79.00</tn_default_rate>
                <tn_rate_tier1>79.00</tn_rate_tier1>
                <tn_rate_tier2>79.00</tn_rate_tier2>
                <tn_rate_tier3>79.00</tn_rate_tier3>
                <tn_tier1_max>500</tn_tier1_max>
                <tn_tier2_max>1000</tn_tier2_max>
                <tn_tier3_max>1500</tn_tier3_max>
                <border_states>KA,KL,AP</border_states>
                <border_state_rate>79.00</border_state_rate>
                <other_states>AR, AS, BR, CG, GA, GJ, HR, HP, JH, MP, MH, MN, ML, MZ, NL, OD, PB, RJ, SK, TG, TR, UP, UK, WB, AN, CH, DH, DL, JK, LA, LD, PY</other_states>
                <other_states_rate>99.00</other_states_rate>
            </medizinhubshipping>
        </carriers>
    </default>
</config>