<!--@subject Contact Form Submission from {{var name}} @-->
<!--@vars {
"var name":"Sender Name",
"var email":"Sender Email",
"var telephone":"Sender Telephone",
"var message":"Message Content"
} @-->

<table>
    <tr>
        <td><strong>Name:</strong></td>
        <td>{{var name}}</td>
    </tr>
    <tr>
        <td><strong>Email:</strong></td>
        <td>{{var email}}</td>
    </tr>
    <tr>
        <td><strong>Telephone:</strong></td>
        <td>{{var telephone}}</td>
    </tr>
    <tr>
        <td><strong>Message:</strong></td>
        <td>{{var message}}</td>
    </tr>
</table>