* {
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
}
.privacy-policy-title{
    text-align: center;
}
.privacy-banner{
    margin-bottom: 15px;
}
.privacy-title {
    color: #063851;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 600;
}
.privacy-title h1{
    margin-bottom: 12px !important;
}
.privacy-description,
.privacy-description ol li,
.privacy-description ul li,
.privacy-content ol li,
.privacy-content ul li{
    color: #000;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.48px;
}
.privacy-help-text {
    color: #063851;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 600;
}
.test-include {
    color: #535C5F;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
}
.page-title-wrapper{
    display: none;
}

.show-more-btn{
width: 360px;
height: 42px;
padding: 10px 18px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid #03C777;
color: #03C777;
font-family: "Source Sans Pro";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: transparent;
}
.show-more-btn:hover{
background: #03C777;
color: #fff;
}
.book-inner {
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #03C777;
    padding: 20px 20px 52px 20px;
}

.labtest-name {
    color: #313739;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: -6px;
}

.lab-new-price {
    color: #313739;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.lab-new-name {
    color: #313739;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lab-old-price {
    color: #818D92;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
    float: right;
    text-decoration: line-through;

}

.lab-offer-price {
    color: #049B7E;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;

}

.lab-booknow-btn {
    border-radius: 0px 0px 8px 8px;
    background: linear-gradient(92deg, #03C777 11.69%, #01A462 102.33%);
    height: 42px;
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    line-height: normal;
    margin-top: -60px;
}
.lab-booknow-btn:hover{
    border-radius: 0px 0px 8px 8px;
    background: linear-gradient(92deg, #03C777 11.69%, #01A462 102.33%);
    height: 42px;
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    width: 100%;
    line-height: normal;
    margin-top: -60px;
}
.page-title {
    display: none !important;
}
.breadcrumbs {
    color: #036C58;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 500;
}
.breadcrumb-name { 
    color: #6E7F87;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 400;
}