<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="terms" frontName="terms-and-conditions">
            <module name="MedizinhubCore_Terms" />
        </route>
    </router>
</config>
