*,
.btn {
    font-family: 'Source Sans Pro';
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type*="date"],
input[type="email"] {
    font-family: 'Source Sans Pro' !important;
}

.patient-head {
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #063851;
}

.patient-address {
    padding: 10px 0;
}

.patient-address-label {
    font-weight: 500;
}

.upload-button {
    margin-top: 0px !important;
}

.preview-image {
    height: 0 !important;
}

#add-more-prescription {
    cursor: pointer;
    margin: 0px 0 0 0;
}

#add-more-prescription img {
    padding: 0 14px;
}

.Supported {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: -9px;
}

.Supported span {
    color: #049B7E;
}

.delete-button:hover,
.remove-button:hover {
    color: #ffffff;
    background-color: red;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ccc;
}

.remove-button {
    position: absolute;
    cursor: hand;
    margin: 0 0 0 -20px !important;
    background: #ffffff !important;
    color: #c40000 !important;
    border: 2px solid #c40000 !important;
    border-radius: 50%;
    font-size: 12px;
    width: 21px !important;
    height: 21px !important;
    text-align: center;
    padding: 0 5px;
    font-weight: 600;
    font-family: sans-serif;
}

.remove-button:hover {
    color: #fff !important;
    border: 2px solid #c40000 !important;
    background-color: #c40000 !important;
    font-weight: 600;
}

.message.warning {
    margin: 0 0 10px;
    padding: 12px 20px 12px 25px;
    display: block;
    font-size: 6px !important;
    background: rgb(218, 245, 255);
    color: #000;
    padding-left: 45px;
    position: relative;
    border-radius: 8px;
    font-family: 'Source Sans Pro' !important;
}

#image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 500px;
}

.patient-column img {
    height: 343px;
    width: 2px;
}

.patient-subhead {
    font-family: 'Source Sans Pro' !important;
    font-size: 18px;
    font-weight: 400;
    color: #859CA8;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px !important;
}

#patient-label {
    cursor: pointer;
}

#patient-format {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    font-style: italic;
}

#patient-format span {
    color: #049B7E;
}

.single-col {
    padding: 20px 0 0 103px !important;

}

.upload-now-addr {
    padding: 0px !important;
    margin-right: 0px !important;
}

.upload-now {
    background-color: #F1F9FE;
    margin-top: 0px !important;
    padding-top: 24px;
}

.prescription {
    background-color: #F1F9FE;
}

.prescription-label-page {
    width: 100%;
    text-align: center;
    padding: 0 0 30px 0;
}

#prescription-label img {
    border: 1.5px dashed gray;
    margin: 10px auto;
    padding: 25px 75px;
    border-radius: 15px;
}

.prescription-label {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 600;
    color: #063851;
}

#patient-addr,
#patient-payment {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 35px;
    background-color: #E7F5FD !important;
    border: 1px solid #E7F5FD;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#patient-add-new-addr,
#edit-patient-addr1 {
    width: 56%;
    max-width: 1200px;
    margin: -75px auto;
    padding: 30px 40px;
    background-color: #F1F9FE !important;
    border: 1px solid #F1F9FE !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#patient-add-new-details {
    width: 56%;
    max-width: 1200px;
    padding: 30px 40px;
    background-color: #F1F9FE !important;
    border: 1px solid #F1F9FE !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.payment-method {
    background: #E7F5FD;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 600;
    margin-left: 0px;
    margin-right: 0px;
    border: none !important;
}

#pre-btn,
#next-step-btn,
#cod-btn,
#book-appointment-btn,
#prev-btn {
    border-radius: 8px !important;
    background: linear-gradient(94deg, #03C777 56.99%, #01A462 99.73%) !important;
    width: 327px !important;
    height: 52px !important;
    border: #01A462 !important;
    margin-top: -16px;
    transition: transform 0.3s ease-in-out;
}

#pre-btn:hover,
#next-step-btn:hover,
#cod-btn:hover,
#book-appointment-btn:hover,
#prev-btn:hover,
.p-button-success:hover {
    transform: scale(1.1);
}

#button-container #pre-btn {
    width: 225px !important;
}

#patient-submit-btn,
#patient-edit-btn {
    border-radius: 8px !important;
    background: linear-gradient(94deg, #03C777 56.99%, #01A462 99.73%) !important;
    width: 285px !important;
    height: 48px !important;
    border: #01A462 !important;
    margin: -11px 0 16px 10px;
}

#patient-submit-btn:hover,
#patient-edit-btn:hover {
    background: linear-gradient(94deg, rgba(3, 199, 121, 0.584) 56.99%, rgba(1, 164, 98, 0.8) 99.73%) !important;
}

#modal-btn {
    border-radius: 8px !important;
    background: linear-gradient(94deg, #E9F6FD 56.99%, #E9F6FD 99.73%) !important;
    /* width: 272px !important; */
    width: 245px !important;
    height: 48px !important;
    border: #E9F6FD !important;
    color: #464B4D;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Source Sans Pro';
    margin-top: -16px;
    margin-left: 260px !important;
}

#successModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 40%; /* Adjust as needed */
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.success-popup-content img {
    width: 100px; /* Adjust the image size */
    margin-bottom: 20px;
}

.success-popup-content .modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.success-popup-content p {
    font-size: 16px;
    color: #757575;
    margin-bottom: 15px;
}

button#go-home {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button#go-home:hover {
    background-color: #218838;
}

.patient-continue {
    width: 327px !important;
    height: 52px;
    padding: 10px 18px;
    border-radius: 8px;
    margin-top: -20px;
    background: linear-gradient(94deg, #03C777 56.99%, #01A462 99.73%);
    border: 1px solid #03C777 !important;
    text-transform: capitalize;
    margin-left: 208px;
    margin-top: 40px;
}

.note {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 12px !important;
    letter-spacing: 0.01em;
    text-align: left;
}

.vertical-line {
    border-left: 1px solid #03C777;
    height: 397px !important;
}

.ui-datepicker {
    box-sizing: border-box;
}

.patient-container {
    width: 100%;
    background-color: rgb(233, 246, 253);
    padding: 0px 40px 11px 40px;
    margin-bottom: 20px;
    border: 1px solid rgb(108, 82, 82);
    border-radius: 8px;
    margin-left: -25px;
}

.patient-form-label {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 16px;
}

.file-input-container {
    margin: -2px 0 13px 0;
}

.patient-input {
    padding: 10px 0;
}

.patient-input-text {
    border: 2px solid #BCE9D6 !important;
    border-radius: 4px !important;
}

/* .step-title:not(:last-child) {
    margin-right: 10px;
} */

.step-line {
    width: 77px;
    border-top: 2px solid #ccc;
    flex-grow: 0;
    margin-top: 14px;
}

.step-titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 12px;
    width: 88%;
    margin-left: 100px;
}

.payment-method {
    padding: 10px;
    border-radius: 8px;
}

.razorpay-helper-text {
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
}

.pricing-details {
    background: #E7F5FD;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 600;
    margin-left: 1px;
    padding: 20px;
    border: none !important;
    border-radius: 8px;
}

.pricing-details h4 {
    padding: 5px 0;
}

.payment-method ul {
    list-style: none;
}

.pricing-line {
    border: 1px solid #01B46B;
}

.home-visit-fee {
    float: right;
}

.discount-offer {
    font-size: 16px;
    font-weight: 700;
    color: #03C777;
}

.pricing-details .total-fee {
    font-size: 20px;
    font-weight: 600;
    color: #00739B;
}

/* delete popup start */

#deleteModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.delete-popup-content {
    background-color: #fff !important;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30% !important;
    border-radius: 8px !important;
}

#deleteModal p {
    font-size: 16px;
    color: #757575;
}

.modal-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn-cancel {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-outer {
    text-align: right;
}

.btn-cancel {
    background: transparent;
    color: #28a745;
    font-size: 16px;
    font-weight: 700;
}

.btn-delete {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn-cancel:hover {
    border: none;
}

.btn-delete:hover {
    background-color: #28a745;
    color: white;
    border: none;
}

/* delete popup end */
.step-title {
    font-family: Source Sans Pro;
    position: relative;
    flex-grow: 1;
    text-align: center;
    color: #999;
    font-size: 18px;
    padding-bottom: 5px;
    cursor: pointer;
}

.step-title.active {
    font-family: Source Sans Pro;
    color: #333;
}

.step-title::before {
    content: '';
    position: absolute;
    top: 42%;
    left: 53px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.step-title.active::before,
.step-title.complete::before {
    content: '✔';
    color: #fff;
    background-color: #5ABB7C;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}

.patient-break-line {
    margin-bottom: 6px !important;
    border: 0 !important;
    border-top: 1px solid #000000 !important;
    margin-top: 20px !important;
}

.patient-preview,
.patient-preview a {
    margin-top: -21px;
    font-size: 16px;
}

.customform-index-index .page-title {
    display: none !important;
}

.upload-now-addr {
    padding: 0 280px;
    margin-right: 68px;
}

.patient-address {
    padding: 10px 0;
}

.patient-address-label {
    font-weight: 500;
}

#patient-addr {
    padding-bottom: 30px !important;
}

.patient-label-page {
    width: 100%;
    text-align: center;
    padding: 0 100px 30px 0px;
}

.upload-button {
    margin-top: 0px !important;
}

.patient-label {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 600;
    color: #063851;
}

.note {
    margin-top: 16px;
}

.preview-image {
    height: 0 !important;
}

#patient-label {
    cursor: pointer;
}

#add-more-prescription {
    cursor: pointer;
    margin: 0px 0 0 0;
    padding: 14px 0;
}

/* #street-input {
    margin: 0 13px 0 0;
} */

#patient-format {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

#prescription-format span {
    color: #049B7E;
}

#existing-patient-container {
    margin: 0px 0px 0 187px;
    width: 100%;
    max-width: 872px;
}

.patient-payment-label-page {
    text-align: center;
}

.upload-now-payment {
    padding: 0px 327px;
    margin-right: -7px;
    margin-top: 23px;
}

.add-patient-label-page {
    margin: 0 0 20px 0px;
    text-align: center;
}

.edit-patient-label-page {
    text-align: center;
    margin: -9px 0 20px 0;
}

.cancel-btn {
    border: 2px solid #BCE9D6;
    color: #063851;
    border-radius: 8px;
    background: transparent;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 74px;
    margin: 0 25px 15px 25px;
}

.cancel-btn a {
    color: #063851;
}

.cancel-btn:hover,
.go-back-btn:hover,
#go-back:hover {
    border: 2px solid #C5ECDC6E;
    color: #333;
    background: #C5ECDC6E;
}

.add-patient-button {
    border-radius: 12px;
    border: 1.5px dashed #7A7A7A !important;
    background: var(--Color, #FFF) !important;
    font-size: 16px;
    color: #063851;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 304px;
    height: 50px;
    margin-top: 10px !important;
}

.add-patient-button:hover,
.add-patient-button.active,
button.active {
    background-color: #fff !important;
    border: 1.5px dashed #7A7A7A !important;
}

.patient-ref p {
    font-family: "Source Sans Pro";
    font-size: 13px;
}

#patient-label img {
    border: 1.5px dashed gray;
    margin: 10px auto;
    padding: 25px 75px;
    border-radius: 15px;
}

.edit-patient,
.delete-patient {
    color: #007195;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 0 5px;
}

.reference-prescription {
    padding-bottom: 20px;
}

.preview-item {
    border: 2px solid #03C777;
    border-radius: 8px;
    padding: 3px;
}

.note-text {
    font-weight: 700;
}

.prescription-header {
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #063851;
    padding: 0 30px;
}

.add-patient-label-page {
    text-align: center;
    position: relative;
}

.edit-patient-label-page {
    text-align: center;
    position: relative;
}

#next-step-btn,
#cod-btn,
#book-appointment-btn {
    margin: 0 auto !important;
}

#error-message {
    margin: 11px 63px;
}

.cod-payment {
    text-align: center;
}

.go-back-btn {
    border: 2px solid #BCE9D6;
    border-radius: 8px;
    background: transparent;
    font-size: 15px;
    font-weight: 600;
    margin: -4px 0 0 50px;
    padding: 12px 74px;
}

#editregion_id {
    font-size: 14px;
}

.required-asterisk {
    color: #CA1A1A;
    padding: 0 2px;
}

.control {
    font-size: 14px;
}

.control .radio-option {
    font-size: 20px;
}

.patient {
    margin: 0 auto;
    padding: 20px 0px !important;
}

a {
    text-decoration: none !important;
}

input[type="radio"] {
    margin: 14px 0;
    width: 19px;
    height: 19px;
}

#update-patient-list {
    display: none;
}

#update-patient-list input[type="radio"] {
    margin: 15px 5px 0 0;
    float: right;
    width: 24px;
    height: 24px;
}

.container {
    background-color: #F1F9FE00 !important;
    border: 1px solid #F1F9FE00 !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.patient-form-error-message {
    color: red;
    margin-top: 5px;
}

.upload-pre-btn {
    padding: 0 0 0 100px;
}

.prescription-columns {
    padding: 0 0 0 134px !important;
}

#prescription-refer p {
    margin-left: 10px;
}

#addregion_id {
    font-size: 14px;
}

#next-step-btn span,
#cod-btn span,
#book-appointment-btn span,
#pre-btn span {
    font-family: Source Sans Pro;
    text-transform: none;
    font-weight: 600;
    font-size: 18px;
}

.fieldset .step {
    margin: 0 0 25px !important;
}

#default-billing-address {
    margin: 20px auto;
}

.billing-address label {
    font-size: 14px;
}

.p-btn-success {
    text-decoration: none;
    color: #fff !important;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
}

.p-btn-success:hover {
    transform: scale(1.1);
}

#patient-add-new-addr,
#edit-patient-addr1,
#patient-add-new-details {
    margin-bottom: 10px;
}

#error-message {
    font-size: 13px;
    /* margin: 16px 0 -8px 0; */
}

.preview-item img {
    border-radius: 4px;
    border: 1px solid #c2c5c4;
    object-fit: cover;
}
.upload-report{
    padding: 8px 0;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .vertical-line {
        display: none;
    }

    #patient-add-new-addr{
        margin-top: -70px !important;
    }

    .patient-pricing-block{
        margin-top: 20px;
    }

    .upload-pre-btn {
        padding: 0 0 0 21px;
    }

    .quick-order {
        margin-bottom: 250px;
    }

    .step-title:not(:last-child) {
        margin-right: 10px;
    }

    .step-line {
        width: 38px;
        border-top: 2px solid #ccc;
        flex-grow: 0;
        margin-top: 20px;
        margin-right: 15px;
    }

    .step-titles {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
        margin-left: 12px;
    }

    .step-title {
        font-family: Source Sans Pro;
        position: relative;
        flex-grow: 1;
        text-align: center;
        color: #999;
        font-size: 14px;
        padding-bottom: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    .step-title.active {
        font-family: Source Sans Pro;
        color: #333;
        font-weight: bold;
    }

    .step-title::before {
        content: '';
        position: absolute;
        top: 38%;
        left: -8px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transform: translateY(-50%);
    }

    .step-title.active::before,
    .step-title.complete::before {
        content: '✔';
        color: #fff;
        background-color: #5ABB7C;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
    }

    .upload-now {
        margin-top: 20px;
    }

    #prescription-format {
        font-size: 14px;
    }

    .note {
        font-size: 14px;
    }

    .upload-now-addr {
        padding: 0px 0px 0 47px;
        margin-right: 0px;
    }

    #modal-btn {
        margin-left: -93px !important;
    }

    .prescription-label-page {
        padding: 0 50px 30px 0px;
        margin: 0 0px 0 -95px;
    }

    #existing-patient-container {
        margin: 0px 0px 0 15px;
        width: 100%;
        max-width: 856px;
    }

    .patient-preview, .patient-preview a {
        font-size: 14px;
    }

    #modal-btn {
        height: 40px !important;
        font-size: 15px;
        margin-left: 133px !important;
    }

    #prescription-payment {
        padding: 14px 22px !important;
    }

    .patient-payment-label-page {
        margin: 0 0 40px 0px;
    }

    .patient-container {
        padding: 0px 23px 20px 23px;
        margin-left: -12px;
    }

    .upload-now-payment {
        padding: 0px 23px;
        margin-right: 0px;
        margin-top: 23px;
    }

    .payment-method {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #patient-add-new-details,
    #edit-patient-addr1,
    #patient-add-new-addr {
        width: 73%;
        margin-top: 0px;
    }

    .edit-patient-label-page {
        margin: -5px 0 20px 0px;
    }

    #edit-patient-addr1 {
        height: 750px;
    }

    #patient-edit-btn {
        margin: -25px 0px 5px 20px;
    }

    .add-patient-label-page {
        margin: 0 0 20px 0px;
    }

    .add-prescription-label-page .prescription-lable {
        font-size: 22px;
    }

    #patient-submit-btn,
    #patient-edit-btn {
        margin-left: 0px !important;

    }
    .pricing-details{
        margin-top: 20px !important;
    }

    #patient-add-new-addr,
    #edit-patient-addr1,
    #patient-add-new-details {
        padding: 25px 16px;
    }

    #image-preview-container {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        padding: 0 110px 0 0;
    }

    .progress {
        display: none !important;
    }
}

.patient-3-cont{
    padding: 0px 105px 0px 162px;
}

@media only screen and (min-width: 992px) and (max-width: 1201px) {
    .step-title::before {
        left: 27px;
    }

    #existing-patient-container {
        width: 81%;
        margin: 0px 0px 0 120px;
    }

    .step-titles {
        margin-left: 70px;
    }

    #modal-btn {
        margin-left: 239px !important;
    }

    .patient-3-cont{
        padding: 0px 70px 0px 85px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 993px) {
    .step-title::before {
        left: -8px;
    }

    #existing-patient-container {
        width: 87%;
        margin: 0px 0px 0 75px;
    }

    .step-titles {
        margin-left: 55px;
    }

    #modal-btn {
        margin-left: 159px !important;
    }

    .patient-preview, .patient-preview a {
        font-size: 15px;
    }

    #patient-add-new-details {
        width: 70%;
    }

    .patient-3-cont{
        padding: 0px 25px 0px 30px;
    }

    .pricing-details {
        font-size: 18px;
        padding: 15px;
    }

    .fee-text{
        font-size: 13px !important;
    }

    .discount-offer {
        font-size: 14px;
    }

    .total-fee{
        font-size: 16px !important;
    }

    .payment-method li label {
        font-size: 16px !important;
    }
}

@media (max-width: 576px) {
    .vertical-line {
        display: none;
    }

    #patient-add-new-addr{
        margin-top: -70px !important;
    }

    .patient-pricing-block{
        margin-top: 20px;
    }

    .upload-pre-btn {
        padding: 0 0 0 21px;
    }

    .quick-order {
        margin-bottom: 250px;
    }

    .step-line {
        margin-right: 14px;
        width: 30px;
        margin-top: 8px;
    }

    .step-titles {
        margin-left: 8px;
        width: 100%;
    }

    .step-title {
        font-size: 11px;
    }

    .step-title::before {
        left: -11px;
        top: 32%;
        width: 17px;
        height: 17px;
        line-height: 18px;
    }

    .upload-now {
        margin-top: 20px;
    }

    #prescription-format {
        font-size: 14px;
    }

    .note {
        font-size: 14px;
    }

    .upload-now-addr {
        padding: 0px 0px 0 47px;
        margin-right: 0px;
    }

    .prescription-label-page {
        padding: 0 50px 30px 0px;
        margin: 0 0px 0 -95px;
    }

    #existing-patient-container {
        margin: 0px 0px 0 15px;
        width: 100%;
        max-width: 856px;
    }

    .patient-preview, .patient-preview a {
        font-size: 12px;
    }

    #modal-btn {
        height: 40px !important;
        font-size: 14px;
        margin: 0px 30px !important
    }

    #prescription-payment {
        padding: 14px 22px !important;
    }

    .patient-payment-label-page {
        margin: 0 0 40px 0px;
    }

    .patient-container {
        padding: 0px 23px 20px 23px;
        margin-left: -12px;
    }

    .upload-now-payment {
        padding: 0px 23px;
        margin-right: 0px;
        margin-top: 23px;
    }

    .payment-method {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #patient-add-new-details,
    #edit-patient-addr1,
    #patient-add-new-addr {
        width: 100%;
        margin-top: 0px;
    }

    .edit-patient-label-page {
        margin: -5px 0 20px 0px;
    }

    #edit-patient-addr1 {
        height: 750px;
    }

    #patient-edit-btn {
        margin: -25px 0px 5px 20px;
    }

    .add-patient-label-page {
        margin: 0 0 20px 0px;
    }

    .add-prescription-label-page .prescription-lable {
        font-size: 22px;
    }

    #patient-submit-btn,
    #patient-edit-btn {
        margin-left: 0px !important;

    }
    .pricing-details{
        margin-top: 20px !important;
    }

    #patient-add-new-addr,
    #edit-patient-addr1,
    #patient-add-new-details {
        padding: 25px 16px;
    }

    #image-preview-container {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        padding: 0 110px 0 0;
    }

    .progress {
        display: none !important;
    }

    .patient-label {
        font-size: 20px;
    }

    .patient-form-label {
        font-size: 14px;
    }

    .control {
        font-size: 12px;
    }
}
