<li
    id="sp-checkout"
    class="checkout-prescription-details"
    data-bind="fadeVisible: isVisible, attr: { id: stepCode }"
>

<!-- <p style="color: #063851;font-family: Source Sans Pro;font-size: 24px;font-style: normal;font-weight: 600;line-height: normal;">Select your option</p>
<span style="color: #859CA8;font-family: Ubuntu;font-size: 18px;font-style: normal;font-weight: 400;line-height: normal;">Click on checkout to buy this products</span> -->
    <div class="sp-checkout-orderattachment">
        <div
            class="payment-option _collapsible opc-payment-additional order-attachments"
        >
            <div class="payment-option-title field choice" data-role="title">
                <h2
                    class="test-shipment action action-toggle"
                    style="display: none;"
                    id="block-attachments-heading"
                    role="heading"
                    aria-level="2"
                    data-bind="text: getTitle()"
                ></h2>
            </div>
            <hr />
            <div
                style="background-color: rgba(231, 245, 253, 1)"
                class="payment-option-content"
            >
            <div class="payment-option-content-block">
                <img
                    src="http://local.medizinhub.com/media/wysiwyg/Group_46.png"
                    alt=""
                />
            </div>
                <div class="payment-option-inner">
                    <div class="field">
                        <div
                            class="info"
                            data-bind="html: getAttachmentInfo()"
                        ></div>
                        <div class="control">
                            <input
                                class="input"
                                type="file"
                                style="display: none"
                                data-bind="event: {change: fileUpload}"
                                id="order-attachment"
                                name="order-attachment[]"
                            />
                            <div
                                class="sp-attachment-drag-area"
                                style="cursor: pointer"
                                data-bind="
                                    click: selectFiles,
                                    event: {
                                        dragenter: dragEnter,
                                        dragover: dragOver,
                                        drop: drop
                                    }"
                            >
                                <div class="checkout-prescription-content">
                                    <p
                                        class="checkout-prescription-upload"
                                        style="
                                            font-family: Source Sans Pro;
                                            font-size: 24px;
                                            font-style: normal;
                                            font-weight: 600;
                                            display: none;
                                        "
                                    >
                                        Upload Prescription
                                    </p>
                                    <p
                                        class="checkout-prescription-resctrict"
                                        style="
                                            font-family: Source Sans Pro;
                                            font-size: 16px; margin-top: -10px;
                                            font-style: italic;
                                            padding: 18px 0 0 0;
                                        "
                                    >
                                    Supported Format
                                        <span
                                            style="
                                                color: #049b7e;
                                                font-family: Source Sans Pro;
                                                font-size: 16px;
                                            "
                                            >JPEG, PNG & PDF</span
                                        >

                                    </p>
                                    <button
                                        style="
                                            border-radius: 12px;
                                            border: 1px dashed #7a7a7a;
                                            background: #fff;
                                            width: 245px;
                                            height: 45px;
                                            margin: 20px 0 25px 0;
                                        "
                                        class="checkout-prescription-btn"
                                    >
                                        Upload Prescription
                                    </button>
                                    <p style="font-family: Source Sans Pro;font-size: 16px; color: rgba(241, 59, 72, 1); display: none;" id="prescription-required">*Kindly upload your prescription</p>
                                    <p
                                        style="
                                            font-family: Source Sans Pro;
                                            font-size: 16px;
                                            font-style: italic;
                                        "
                                        class="checkout-prescription-note"
                                    >
                                        <b>Note:</b>Prescription should be clear & within 5MB
                                    </p>
                                </div>
                            </div>

                            <!-- <div data-bind="text: myTimer"></div> -->
                            <div
                                class="attachment-container"
                                data-bind="foreach:attachmentList"
                            >
                                <div
                                    data-bind="attr: { rel: hash, class:'sp-attachment-row attach-'+hash}"
                                >
                                    <div class="sp-attachment-row-content">
                                        <div class="order-attachment-preview">
                                            <img
                                                class="thumbnail"
                                                data-bind="attr: { src: url}"
                                            />
                                            <div class="attachment-file">
                                                <div
                                                    class="filename"
                                                    data-bind="text: path"
                                                ></div>
                                            </div>
                                        </div>
                                        <div class="order-attachment-content">
                                            <textarea
                                                data-bind="attr: { id: 'attachment-comment'+attachment_id, name:'attachment['+attachment_id+'][comment]'},text: comment,event: { blur: $parent.updateComment.bind($parent,attachment_id,hash,'attachment-comment'+attachment_id) }"
                                                rows="4"
                                                class="comment"
                                                placeholder="Write comment here"
                                            >
                                            </textarea>

                                            <a
                                                id="sp-attachment-remove2"
                                                class="sp-attachment-remove"
                                                title="Remove Item"
                                                data-bind="click: $parent.deleteFile.bind($parent,attachment_id,hash)"
                                                href="#"
                                            ></a>
                                            <input
                                                type="hidden"
                                                data-bind="attr: { value: attachment_id, class: attachment_class}"
                                                name="attachment-id"
                                            />
                                            <input
                                                type="hidden"
                                                name="attachment-hash"
                                                data-bind="attr: { value: hash, class: hash_class}"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
        <div class="actions-toolbar">
            <div class="primary">
                <button
                    id="checkout-prescription-btn"
                    data-role="opc-continue"
                    type="submit"
                    class="button action continue primary prescription-continue"
                >
                    <span>Continue</span>
                </button>
            </div>
        </div>
    </form>
</li>
